
<!-- <div class="card" style="width: 18rem;" *ngFor="let q of questions">
    <div class="card-body">
        <h5 class="card-title">{{q.text}}</h5>
        <div *ngFor="let c of q.choices">{{c.text}}</div>
    </div>
</div> -->


<!-- 
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{currentQuestion.text}}</h5>
        <div class="radio" *ngFor="let c of choices">
            <label><input type="radio" name="optradio" (click)="calculate(c.isAnswer)">{{c.text}}</label>
        </div>
        <div *ngIf="! isLastQuestion">
            <button class="btn btn-primary" (click)="nextQuestion()">Next Question</button>
        </div>
        <br>
        <div *ngIf="! isFirstQuestion">
            <button class="btn btn-primary" (click)="previousQuestion()">Previous Question</button>
        </div>
    </div>
    <button class="btn btn-primary" (click)="viewResult()">submit</button>
</div> -->
<div class="container mt-5">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-4">{{currentQuestionText}}</h1>
                <div *ngFor="let c of choices" class="lead mt-2">
                    <label class="btn btn-outline-secondary btn-lg ">
                        <input type="radio" (click)="calculate(c.isAnswer)" name="answer">{{c.text}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-5">
                <span class="lead text-right" *ngIf="! isFirstQuestion">
                    <button class="btn btn-info btn-lg " (click)="previousQuestion()">Previous Question</button>
                </span>
            </div>
            <div class="col-sm-4">
                <div class="lead">
                    <button class="btn btn-success btn-lg" (click)="viewResult()">Submit</button>
                </div>
            </div>
            <div class="col-sm-3">
                <span class="lead text-center" *ngIf="! isLastQuestion">
                    <button class="btn btn-info btn-lg" (click)="nextQuestion()">Next Question</button>
                </span>
            </div>
        </div>
    </div>
</div>